$fontEN: -apple-system-font, "Helvetica Neue";
$fontCN: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
$fontSans: sans-serif;
$fontDefault: $fontEN, $fontCN, $fontSans;

$colorPrimary: #00A0D2;
$colorGreen: #25DC8C;
$colorOrange: #FF9248;
$colorRed:#F09695;
$colorWarn:#E64340;
$colorTabbar: #2BE4F9;

$colorBackground: #F8F8F9;
$colorBackgroundCancel: #E2E6EA;
$colorBackgroundDel: #75818F;
$colorBackgroundTabbar: #071922;

$colorBorderIndex: #F3F4F6;
$colorBorderDefault: #E2E6EA;

$colorFontTotal: #4D4D4D;
$colorFontHigh: #2D3C4D;
$colorFontNormal: #687585;
$colorFontLow: #B9C4D1;
$colorFontCancel: #414750;

$colorFontHeader: #506273;
$colorFontLabel: #506273;
$colorFontPlaceholder:#A7B0B9;
$colorFontDetail:#96A1AB;


$backgroundColor: #eaeaea;
$borderColor: #5a6e7f;
